name: "Build GitHub Slack User Map"

on:
  schedule:
    # Run nightly at 6 AM UTC
    - cron: "0 6 * * *"
  workflow_dispatch:

jobs:
  build-user-map:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v6
      - name: "Build GitHub to Slack user mapping"
        id: build-user-map
        uses: ./.github/actions/build-github-slack-user-map
        with:
          token: ${{ secrets.SLACK_OAUTH_TOKEN }}
          slack_field: "Xf0A3AH8QTS6" # Github Username custom field
      - name: Generate GitHub App Token
        id: generate_token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        with:
          app-id: ${{ vars.OOI_PULL_REQUEST_APP_ID }}
          private-key: ${{ secrets.OOI_PULL_REQUEST_APP_PRIVATE_KEY }}
      - name: "Update organization variable"
        run: |
          gh variable set GH_SLACK_USER_MAP --body '${{ steps.build-user-map.outputs.github_slack_mapping }}' --org newjersey --visibility all
        env:
          GITHUB_TOKEN: ${{ steps.generate_token.outputs.token }}
