name: "Pull Request Review"

on:
  pull_request:
    types: [labeled]
  push:
    branches:
      - main

jobs:
  request-reviewers:
    if: ${{ github.event.label.name == 'request-code-review' }}
    uses: ./.github/workflows/pickaroo.yml
    secrets: inherit
    permissions:
      contents: read
      pull-requests: write
    with:
      include_teams: "innovation-engineering"
      exclude_users: "dhcole gamorgana"
      number_of_reviewers: 2
      channel_id: C03C7NHK9B4 # engineering-all
  test-request-reviewers:
    if: ${{ github.event.label.name == 'test-request-code-review' }}
    uses: ./.github/workflows/pickaroo.yml
    secrets: inherit
    permissions:
      contents: read
      pull-requests: write
    with:
      include_teams: "innovation-engineering"
      number_of_reviewers: 1
      channel_id: C09Q36G9HMX # sandbox
