name: "Pull Request Review"

on:
  pull_request:
    types: [labeled]
  push:
    branches:
      - main

jobs:
  request-project-reviewers:
    if: ${{ github.event.label.name == 'pr-review' }}
    uses: ./.github/workflows/pickaroo.yml
    secrets: inherit
    with:
      include_users: "timwright12 jviall aloverso"
      number_of_reviewers: 1
      number_of_repicks: 0 # don't repick
      channel_id: C03C7NHK9B4 # engineering-all
  request-initiative-reviewers:
    if: ${{ github.event.label.name == 'pr-review' }}
    needs: request-project-reviewers # avoid a race between jobs
    uses: ./.github/workflows/pickaroo.yml
    secrets: inherit
    with:
      include_teams: "innovation-engineering"
      exclude_users: "dhcole gamorgana"
      number_of_repicks: 1 # since this isn't the first run, it's a repick
      channel_id: C03C7NHK9B4 # engineering-all
  pr-show:
    if: ${{ github.event.label.name == 'pr-show' }}
    uses: ./.github/workflows/pickaroo.yml
    secrets: inherit
    with:
      show: true
      channel_id: C03C7NHK9B4 # engineering-all
  test-pr-review:
    if: ${{ github.event.label.name == 'test-pr-review' }}
    uses: ./.github/workflows/pickaroo.yml
    secrets: inherit
    with:
      include_teams: "innovation-engineering"
      number_of_reviewers: 1
      channel_id: C09Q36G9HMX # sandbox
  test-pr-show:
    if: ${{ github.event.label.name == 'test-pr-show' }}
    uses: ./.github/workflows/pickaroo.yml
    secrets: inherit
    with:
      show: true
      channel_id: C09Q36G9HMX # sandbox
