name: 'Pull Request'

on:
    pull_request:
    push:
        branches:
            - main

jobs:
    request-pr-review:
        uses: ./.github/actions/slack-notification
        with:
            channel_id: C09Q36G9HMX
            message: "[ <${{ github.event.pull_request.html_url }}|PR Review> ] ${{ github.event.repository.name }} - #${{ github.event.pull_request.number }}: ${{ github.event.pull_request.title }}"
            thread_message: "Please review the above pull request?"
        secrets: inherit
