name: "Pull Request Review"

on:
  pull_request:
    types: [labeled]
  push:
    branches:
      - main

jobs:
  request-reviewers:
    if: ${{ github.event.label.name == 'request-code-review' }}
    uses: ./.github/workflows/pickaroo.yml
    secrets: inherit
    permissions:
      contents: read
    with:
      include_teams: "innovation-engineering"
      number_of_reviewers: 2
      channel_id: C09Q36G9HMX
