# Docs: https://docs.slack.dev/tools/slack-github-action/sending-techniques/sending-data-slack-api-method/

name: "Slack Notification"

on:
  workflow_call:
    inputs:
      channel_id:
        required: true
        type: string
      message:
        required: true
        type: string
      thread_message:
        required: false
        type: string
    secrets:
      SLACK_OAUTH_TOKEN:
        required: false

jobs:
  send-slack-message:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Send Slack message
        uses: ./.github/actions/slack-message
        with:
          channel_id: ${{ inputs.channel_id }}
          message: ${{ inputs.message }}
          thread_message: ${{ inputs.thread_message }}
          token: ${{ secrets.SLACK_OAUTH_TOKEN }}
